{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./public/css/styles.css",
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html"
      }
    }
  ]
}
